<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" />
  <package id="Microsoft.Extensions.Logging" version="2.0.2" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.2" />
  <package id="Microsoft.Extensions.Options" version="2.0.2" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" />
  <package id="Newtonsoft.Json" version="13.0.1" />
  <package id="PuppeteerExtraSharp" version="2.0.0" manuallyInstalled="true" />
  <package id="PuppeteerSharp" version="12.0.0" manuallyInstalled="true" />
  <package id="RestSharp" version="108.0.3" />
  <package id="System.Text.Encodings.Web" version="6.0.0" />
  <package id="System.Text.Json" version="5.0.1" />
</packages>